<div>
  <body>
    <div class="container" *ngFor="let u of users.slice(0, 2)">
      <div class="box" style="border: 1px solid red">
        <div class="matched">
          <p>{{ u.name }}</p>
          <p>{{ "Age: " + u.age }}</p>
          <div class="img-container">
            <div class="img">
              <img [src]="u.profilePhoto" alt="Profile Photo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <div>
    <button>Get User</button>
  </div> -->
</div>
