<div class="container">
  <form>
    <div class="row">
      <div><h1>Create a user</h1></div>
      <div class="col-lg-2">
        <label>First name</label>
        <input type="text" required />
        <label>Last name</label>
        <input type="text" required />
        <label>Email</label>
        <input type="text" required />
        <label>Phone Number</label>
        <input type="text" required minlength="10" maxlength="10" />
        <label>Username</label>
        <input type="text" required />
        <button
          class="btn btn-primary"
          style="margin-top: 10px"
          (click)="onSubmitUser($event)"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
