<div class="row">
  <div class="col-xs-12">
    <h1 class="form-prompt">Fill in the blanks and find a match</h1>
  </div>
</div>
<form action="">
  <div class="form-group">
    <div class="col-xs-12">
      <label for="favorite-color" style="padding: 10px"
        >Enter your favorite color</label
      >
      <input type="text" />
      <label for="star-sign" style="padding: 10px">What's your sign </label>
      <input type="text" class="dropdown-menu" />
      <label for="height" style="padding: 10px">What is your profession</label>
      <input type="text" />
      <label for="favorite-color" style="padding: 10px">Favorite sport</label>
      <input type="text" />
      <label for="favorite-color" style="padding: 10px"
        >Favorite place to eat</label
      >
      <input type="text" />
    </div>
  </div>
</form>
